<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Enter Text"
      [(ngModel)]="text"
    />
  </div>
  <div class="form-control">
    <label for="day">Day and Time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Enter day"
      [(ngModel)]="day"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  <button class="btn btn-primary" type="submit">Save Task</button>
</form>
